@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



p{
  color: white;
}

.card{
  width: 10rem;
  height: 10rem;
  margin: 2px;
  img{
    width: 6rem;
    height: 6rem;
  }
}
